/* reset */

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* fine reset */


div {
    background-color: blueviolet;
    width: 80%;
    height: 100px;
    margin: 20px auto;
}
