/* reset */

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* fine reset */


.blocco {
    width: 80%;
    height: 100px;
    margin: 25px auto;
}

#primo {
    height: 130px;
    background-color: #E579E6;
}

#secondo {
    height: 500px;
    background-color: #E1D67A;
}

#terzo {
    height: 550px;
    background-color: #ABCFE7;
}

#quarto {
    height: 80px;
    background-color: #8801FE;
}